*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  font: normal 16px 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

@-webkit-keyframes newBounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

  75% {
    -webkit-transform: scale(.95);
            transform: scale(.95); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes newBounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

  75% {
    -webkit-transform: scale(.95);
            transform: scale(.95); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes mergeBounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }

  33% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

  66% {
    -webkit-transform: scale(.95);
            transform: scale(.95); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes mergeBounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }

  33% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

  66% {
    -webkit-transform: scale(.95);
            transform: scale(.95); }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

button {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #444;
  display: inline-block;
  padding: 1.25em 1.5em;
  margin: 4px;
  margin: .25rem;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: background .2s; }
  button:hover, button:focus, button:active {
    outline: 0;
    background-color: #515151; }
  button.u-aqua {
    color: #fff;
    background-color: #7FDBFF; }
    button.u-aqua:hover, button.u-aqua:focus, button.u-aqua:active {
      outline: 0;
      background-color: #99e2ff; }
  button.u-blue {
    color: #fff;
    background-color: #0074D9; }
    button.u-blue:hover, button.u-blue:focus, button.u-blue:active {
      outline: 0;
      background-color: #0082f3; }
  button.u-navy {
    color: #fff;
    background-color: #001F3F; }
    button.u-navy:hover, button.u-navy:focus, button.u-navy:active {
      outline: 0;
      background-color: #002c59; }
  button.u-teal {
    color: #fff;
    background-color: #39CCCC; }
    button.u-teal:hover, button.u-teal:focus, button.u-teal:active {
      outline: 0;
      background-color: #4dd1d1; }
  button.u-green {
    color: #fff;
    background-color: #71f43d; }
    button.u-green:hover, button.u-green:focus, button.u-green:active {
      outline: 0;
      background-color: #83f555; }
  button.u-olive {
    color: #fff;
    background-color: #3D9970; }
    button.u-olive:hover, button.u-olive:focus, button.u-olive:active {
      outline: 0;
      background-color: #44ab7d; }
  button.u-lime {
    color: #fff;
    background-color: #01FF70; }
    button.u-lime:hover, button.u-lime:focus, button.u-lime:active {
      outline: 0;
      background-color: #1bff7e; }
  button.u-yellow {
    color: #fff;
    background-color: #FFDC00; }
    button.u-yellow:hover, button.u-yellow:focus, button.u-yellow:active {
      outline: 0;
      background-color: #ffe01a; }
  button.u-orange {
    color: #fff;
    background-color: #f48b3d; }
    button.u-orange:hover, button.u-orange:focus, button.u-orange:active {
      outline: 0;
      background-color: #f59955; }
  button.u-red {
    color: #fff;
    background-color: #FF4136; }
    button.u-red:hover, button.u-red:focus, button.u-red:active {
      outline: 0;
      background-color: #ff5950; }
  button.u-fuchsia {
    color: #fff;
    background-color: #F012BE; }
    button.u-fuchsia:hover, button.u-fuchsia:focus, button.u-fuchsia:active {
      outline: 0;
      background-color: #f22ac5; }
  button.u-purple {
    color: #fff;
    background-color: #B10DC9; }
    button.u-purple:hover, button.u-purple:focus, button.u-purple:active {
      outline: 0;
      background-color: #c60fe1; }
  button.u-maroon {
    color: #fff;
    background-color: #85144B; }
    button.u-maroon:hover, button.u-maroon:focus, button.u-maroon:active {
      outline: 0;
      background-color: #9b1757; }

.Card {
  font-weight: bold;
  font-size: 32px;
  font-size: 15vmin;
  line-height: 32px;
  padding: calc(46% - 16px) 0;
  margin: 4%;
  border-radius: 1vmin;
  color: #fff;
  background: red;
  display: block;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: background .25s; }
  .Card-wrap {
    display: block;
    width: 25%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: -webkit-transform .15s;
    transition: transform .15s; }
  .Card:before {
    content: attr(data-value); }
  .Card.is-new {
    -webkit-animation: newBounce ease .5s;
            animation: newBounce ease .5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }
  .Card.is-merged {
    -webkit-animation: mergeBounce ease .15s;
            animation: mergeBounce ease .15s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }

.GameBoard {
  position: relative;
  width: calc(100vmin - 20px);
  height: calc(100vmin - 20px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none; }
  .GameBoard-backgroundCard {
    display: inline-block;
    padding: 12.5%;
    width: 25%;
    position: relative; }
    .GameBoard-backgroundCard:before {
      content: '';
      display: block;
      background: #eee;
      border-radius: 1vmin;
      position: absolute;
      top: 4%;
      left: 4%;
      right: 4%;
      bottom: 4%; }

.Modal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  color: #444;
  background-color: rgba(238, 238, 238, 0.9);
  border-radius: 1vmin;
  position: absolute;
  top: 4vmin;
  left: 4vmin;
  right: 4vmin;
  bottom: 4vmin;
  z-index: -1;
  opacity: 0;
  transition: opacity .5s; }
  .Modal h2 {
    font-size: 5vmin;
    margin: 0 0 .5em; }
  .Modal p {
    font-size: 8vmin;
    margin: 0 0 1em; }
  .is-gameOver .Modal, .is-menuOpen .Modal {
    opacity: 1;
    z-index: 999; }

.Score {
  margin: .5em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }
  .Score-card {
    -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    padding: 2vmin;
    margin: 4px;
    margin: .25rem;
    color: #fff;
    background-color: #0074D9;
    border-radius: 1vmin; }
    .Score-card--best {
      background-color: #001F3F; }
    .Score-card-value {
      display: block;
      font-size: 32px;
      font-size: 2rem; }
  .Score button {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  @media only screen and (orientation: landscape) {
    .Score {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin: 0 .5em;
      padding: 1vmin 0; } }

.Swipeable {
  height: 100vh;
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  transition: -webkit-filter .5s, filter .5s;
  transition: filter .5s; }
  .is-gameOver .Swipeable, .is-menuOpen .Swipeable {
    -webkit-filter: blur(15px);
            filter: blur(15px); }
  @media only screen and (orientation: portrait) {
    .Swipeable {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding-bottom: 70px; } }

.u-position0x0 {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%); }
.u-position0x1 {
  -webkit-transform: translate(0%, 100%);
      -ms-transform: translate(0%, 100%);
          transform: translate(0%, 100%); }
.u-position0x2 {
  -webkit-transform: translate(0%, 200%);
      -ms-transform: translate(0%, 200%);
          transform: translate(0%, 200%); }
.u-position0x3 {
  -webkit-transform: translate(0%, 300%);
      -ms-transform: translate(0%, 300%);
          transform: translate(0%, 300%); }
.u-position1x0 {
  -webkit-transform: translate(100%, 0%);
      -ms-transform: translate(100%, 0%);
          transform: translate(100%, 0%); }
.u-position1x1 {
  -webkit-transform: translate(100%, 100%);
      -ms-transform: translate(100%, 100%);
          transform: translate(100%, 100%); }
.u-position1x2 {
  -webkit-transform: translate(100%, 200%);
      -ms-transform: translate(100%, 200%);
          transform: translate(100%, 200%); }
.u-position1x3 {
  -webkit-transform: translate(100%, 300%);
      -ms-transform: translate(100%, 300%);
          transform: translate(100%, 300%); }
.u-position2x0 {
  -webkit-transform: translate(200%, 0%);
      -ms-transform: translate(200%, 0%);
          transform: translate(200%, 0%); }
.u-position2x1 {
  -webkit-transform: translate(200%, 100%);
      -ms-transform: translate(200%, 100%);
          transform: translate(200%, 100%); }
.u-position2x2 {
  -webkit-transform: translate(200%, 200%);
      -ms-transform: translate(200%, 200%);
          transform: translate(200%, 200%); }
.u-position2x3 {
  -webkit-transform: translate(200%, 300%);
      -ms-transform: translate(200%, 300%);
          transform: translate(200%, 300%); }
.u-position3x0 {
  -webkit-transform: translate(300%, 0%);
      -ms-transform: translate(300%, 0%);
          transform: translate(300%, 0%); }
.u-position3x1 {
  -webkit-transform: translate(300%, 100%);
      -ms-transform: translate(300%, 100%);
          transform: translate(300%, 100%); }
.u-position3x2 {
  -webkit-transform: translate(300%, 200%);
      -ms-transform: translate(300%, 200%);
          transform: translate(300%, 200%); }
.u-position3x3 {
  -webkit-transform: translate(300%, 300%);
      -ms-transform: translate(300%, 300%);
          transform: translate(300%, 300%); }

[data-value="2"] {
  background: #f48b3d; }

[data-value="4"] {
  background: #f4da3d; }

[data-value="8"] {
  background: #c0f43d; }

[data-value="16"] {
  font-size: 13vmin;
  background: #71f43d; }

[data-value="32"] {
  font-size: 13vmin;
  background: #3df457; }

[data-value="64"] {
  font-size: 13vmin;
  background: #3df4a6; }

[data-value="128"] {
  font-size: 11vmin;
  background: #3df4f4; }

[data-value="256"] {
  font-size: 11vmin;
  background: #3da6f4; }

[data-value="512"] {
  font-size: 11vmin;
  background: #3d57f4; }

[data-value="1024"] {
  font-size: 8vmin;
  background: #713df4; }

[data-value="2048"] {
  font-size: 8vmin;
  background: #c03df4; }

[data-value="4096"] {
  font-size: 8vmin;
  background: #f43dda; }

[data-value="8192"] {
  font-size: 8vmin;
  background: #f43d8b; }

[data-value="16384"] {
  font-size: 7vmin;
  background: #f43d3d; }


/*# sourceMappingURL=styles.css.map */